#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: '{build}'

# Do not increment build number for pull requests (GitHub only)
pull_requests:
  do_not_increment_build_number: true

# disable publishing of .nupkg artifacts to
# account/project feeds for pull request builds
nuget:
  disable_publish_on_pr: true

# branches to build
branches:
  only:
  - master

#---------------------------------#
#    environment configuration    #
#---------------------------------#
cache:
  - packages

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

os: Visual Studio 2017

before_build:
  - dotnet --info
  - dotnet restore

build:
  parallel: true                                    # enable MSBuild parallel builds
  project: DotNetToolkit.Repository.sln             # path to Visual Studio solution or project

after_build:
  - dotnet pack .\src\DotNetToolkit.Repository\DotNetToolkit.Repository.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.InMemory\DotNetToolkit.Repository.InMemory.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.EntityFramework\DotNetToolkit.Repository.EntityFramework.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.EntityFrameworkCore\DotNetToolkit.Repository.EntityFrameworkCore.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.AdoNet\DotNetToolkit.Repository.AdoNet.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.NHibernate\DotNetToolkit.Repository.NHibernate.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Json\DotNetToolkit.Repository.Json.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Xml\DotNetToolkit.Repository.Xml.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.AzureStorageBlob\DotNetToolkit.Repository.AzureStorageBlob.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.AzureStorageTable\DotNetToolkit.Repository.AzureStorageTable.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Extensions.Microsoft.DependencyInjection\DotNetToolkit.Repository.Extensions.Microsoft.DependencyInjection.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Extensions.Unity\DotNetToolkit.Repository.Extensions.Unity.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Extensions.Ninject\DotNetToolkit.Repository.Extensions.Ninject.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Caching.InMemory\DotNetToolkit.Repository.Caching.InMemory.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Caching.Redis\DotNetToolkit.Repository.Caching.Redis.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Caching.Memcached\DotNetToolkit.Repository.Caching.Memcached.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Caching.Couchbase\DotNetToolkit.Repository.Caching.Couchbase.csproj --configuration Release

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: '**\DotNetToolkit.Repository.*.nupkg'     # find all NuGet packages recursively
    name: NuGet

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

# providers: Local, FTP, WebDeploy, AzureCS, AzureBlob, S3, NuGet, Environment
# provider names are case-sensitive!
deploy:

# Deploying to NuGet feed
- provider: NuGet
  server: https://www.myget.org/F/dotnettoolkitrepository-dev/api/v2/package
  api_key:
    secure: SR7XeaMyomlDy1JekkpUVvPhQ9RnaRmvDZ68gR1S/xFEe1QfYFbsss9GDq0Q/8Rq
  skip_symbols: true
  on:
    branch: master                    # release from master branch only
- provider: NuGet
  name: production
  api_key:
    secure: uSU6YGrWfh7Ruar11vqDFOtauPZXzKYFHUp8WoK86wDjT5ahRJXpLqPfusF+oKFd
  on:
    branch: master                   # release from master branch only
    appveyor_repo_tag: true          # deploy on tag push only
    
# Deploy to GitHub Releases
- provider: GitHub
  auth_token:
      secure: kFfqkCNCS405n1FfAo/51sC5Mff9UR9QBjFfTLHJudNGhhj4X1luHRb6hJEksmQI
  draft: false
  prerelease: false
  on:
    branch: master                   # release from master branch only
    appveyor_repo_tag: true          # deploy on tag push only
    
#---------------------------------#
#       tests configuration       #
#---------------------------------#

test_script:
  - dotnet test .\test\DotNetToolkit.Repository.Test\DotNetToolkit.Repository.Test.csproj --configuration Release
  - dotnet test .\test\DotNetToolkit.Repository.Integration.Test\DotNetToolkit.Repository.Integration.Test.csproj --configuration Release
