#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: '{build}'

# Do not increment build number for pull requests (GitHub only)
pull_requests:
  do_not_increment_build_number: true

branches:
  only:
  - dev
  - master

# Do not build on tags (GitHub only)
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#
cache:
  - packages

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

os: Visual Studio 2017

before_build:
  - dotnet --info
  - dotnet restore

build:
  parallel: true                                    # enable MSBuild parallel builds
  project: DotNetToolkit.Repository.sln             # path to Visual Studio solution or project

after_build:
  - dotnet pack .\src\DotNetToolkit.Repository\DotNetToolkit.Repository.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.InMemory\DotNetToolkit.Repository.InMemory.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.EntityFramework\DotNetToolkit.Repository.EntityFramework.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.EntityFrameworkCore\DotNetToolkit.Repository.EntityFrameworkCore.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.AdoNet\DotNetToolkit.Repository.AdoNet.csproj --configuration Release
  - dotnet pack .\src\DotNetToolkit.Repository.Microsoft.DependencyInjection\DotNetToolkit.Repository.Microsoft.DependencyInjection.csproj --configuration Release

#---------------------------------#
#       tests configuration       #
#---------------------------------#
test_script:
  - dotnet test .\test\DotNetToolkit.Repository.Test\DotNetToolkit.Repository.Test.csproj --configuration Release
  - dotnet test .\test\DotNetToolkit.Repository.Integration.Test\DotNetToolkit.Repository.Integration.Test.csproj --configuration Release
  
artifacts:
  - path: '**\DotNetToolkit.Repository.*.nupkg'     # find all NuGet packages recursively
