<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="repository" type="DotNetToolkit.Repository.Internal.ConfigFile.ConfigurationSection, DotNetToolkit.Repository" />
  </configSections>
  <repository>
    <defaultContextFactory type="DotNetToolkit.Repository.InMemory.Internal.InMemoryRepositoryContextFactory, DotNetToolkit.Repository.InMemory">
      <parameters>
        <parameter name="ignoreTransactionWarning" value="True" />
        <parameter name="databaseName" value="__InMemoryDatabaseName__" />
      </parameters>
    </defaultContextFactory>
    <loggingProvider type="DotNetToolkit.Repository.Configuration.Logging.ConsoleLoggerProvider, DotNetToolkit.Repository">
      <parameters>
        <parameter name="minLogLevel" value="Debug" />
      </parameters>
    </loggingProvider>
    <cachingProvider type="DotNetToolkit.Repository.Extensions.Microsoft.Caching.Memory.InMemoryCacheProvider, DotNetToolkit.Repository.Extensions.Microsoft.Caching.Memory">
      <parameters>
        <parameter name="expiry" value="00:00:30" />
      </parameters>
    </cachingProvider>
    <mappingProvider type="DotNetToolkit.Repository.Configuration.Mapper.MapperProvider, DotNetToolkit.Repository" />
    <interceptors>
      <interceptor type="DotNetToolkit.Repository.Test.Data.TestRepositoryInterceptor, DotNetToolkit.Repository.Test">
        <parameters>
          <parameter name="p1" value="random param" />
          <parameter name="p2" value="True" />
        </parameters>
      </interceptor>
    </interceptors>
  </repository>
</configuration>